<div class="container">
    <br>
    <br>
    <h2 class="">Bem vindo {{user.Name}}</h2>
    <h4>Buscar novo curso</h4>
    <div class="col-lg-9"> 
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Buscar por..." ng-model="inputSearch">
            <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="search()">Pesquisar</button>
          </span>
        </div>
        <br>
        <br>
        <div class="list-group" ng-repeat = "course in courses">
          <a href="#" class="list-group-item active">
            <h4 class="list-group-item-heading">{{course.Name}}</h4>
            <p class="list-group-item-text">{{course.Description}}</p>
          </a>
          
        </div>
    </div>
    <br>
    <br>
