 <br>
 <br>
 <div class="container" >
    <div class="portlet">

     <h3 class="portlet-title">
          <u>{{course.Name}}</u>
        </h3>
        <div class="well">   
            <h4>Descrição:</h4>         
            <p>{{course.Description}}</p>
            <p><b>Nome do professor:</b> {{course.Teacher}}</p>
            <p><b>Data de início:</b> {{course.Start}}</p>

            <br>
           <a href="#" ng-click="subscribe()" class="btn btn-primary btn-primary">Increver</a>
          </div> <!-- /.well -->
          <div align="right"><a data-toggle="modal" ng-click="back()" class="btn btn-primary demo-element">Voltar</a></div>

      </div> <!-- /.portlet -->
 
  </div>