 <div ng-include src="'././app/admin/teacher/menu.html'"></div>
 <div class="container" >
  <h3 class="content-title" ><ul>Cadastro de disciplinas</ul></h3>
 <form  class="form-horizontal" ng-submit="save()">  
        <div class="form-group">

          <label class="col-md-3" for="name">Nome</label>

          <div class="col-md-7">
            <input type="text" name="name" value="" class="form-control" tabindex="1" ng-model="course.Name"/>
          </div> <!-- /.col -->

        </div> <!-- /.form-group -->

        <div class="form-group">

          <label class="col-md-3" for="description">Descrição</label>

          <div class="col-md-7">
            <textarea id="about-textarea" name="description" rows="6" class="form-control" tabindex="2" ng-model="course.Description"></textarea>
          </div> <!-- /.col -->

        </div> <!-- /.form-group -->

        <div class="form-group" align="left">
          <div class="col-md-7 col-md-push-3">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            &nbsp;
            <button type="reset" class="btn btn-default">Cancelar</button>
          </div> <!-- /.col -->
        </div> <!-- /.form-group -->

  </form>
  </div>