 <style>
  .full button span {
    background-color: limegreen;
    border-radius: 32px;
    color: black;
  }
  .partially button span {
    background-color: orange;
    border-radius: 32px;
    color: black;
  }
</style>
 <div ng-include src="'././app/admin/teacher/menu.html'"></div>
 <div class="container" >
  <h3 class="content-title" ><ul>Cadastro de Cursos</ul></h3>
 <form  class="form-horizontal" ng-submit="save()">  
        <div class="form-group">

          <label class="col-md-3" for="name">Nome</label>

          <div class="col-md-7">
            <input type="text" name="name" value="" class="form-control" tabindex="1" ng-model="course.Name"/>
          </div> <!-- /.col -->

        </div> <!-- /.form-group -->

        <div class="form-group">

          <label class="col-md-3" for="description">Descrição</label>

          <div class="col-md-7">
            <textarea id="about-textarea" name="description" rows="6" class="form-control" tabindex="2" ng-model="course.Description"></textarea>
          </div> <!-- /.col -->

        </div> <!-- /.form-group -->

        <div class="form-group">

                <label class="col-md-3">Data de início do envío das questões:</label>
            <div class="row">
            <div class="col-md-3">
              <p class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="popup.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                <span class="input-group-btn">
                  <button type="button" class="btn btn-default" ng-click="open()"><i class="glyphicon glyphicon-calendar"></i></button>
                </span>
              </p>
            </div>

        </div> <!-- /.form-group -->

        <div class="form-group" align="left">
          <div class="col-md-7 col-md-push-3">
            <button type="submit" class="btn btn-primary">Cadastrar</button>
            &nbsp;
            <button type="reset" ng-click="back()" class="btn btn-default">Cancelar</button>
          </div> <!-- /.col -->
        </div> <!-- /.form-group -->

  </form>
  </div>